@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* InfoBar Styles Start */

.infoBarContainer {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, 0);
  -webkit-box-shadow: 0 3px 2px -2px gray;
  -moz-box-shadow: 0 3px 2px -2px gray;
  box-shadow: 0 3px 2px -2px gray;
}

.infoBarContainer span i {
  color: #777676;
  cursor: pointer;
}

.infoBarContainer span a {
  text-decoration: none;
  color: #777676;
}

.infoBarContainer span i:hover,
.infoBarContainer span a:hover {
  color: #0003af;
}

.btnCheckEligibility {
  background-color: #189d0e;
}

.infoSectionContainer {
  display: none;
}

/* InfoBar Styles End */

/* Navbar Styles Start */

.navbar-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 48px;
  z-index: 9;
}

.topbar {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.topbar .image-container {
  flex: 0.5;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.topbar ul {
  flex: 1;
  display: flex;
  justify-content: end;
  list-style: none;
}

.topbar ul li {
  display: inline-block;
  margin: 0 20px 0 0;
}

.topbar ul li a {
  color: rgb(94, 94, 94);
  font-size: 1.125rem;
  text-decoration: none;
}

.topbar ul li a:hover {
  color: rgb(34, 37, 216);
}

label #bar-icon,
label #close-icon {
  font-size: 30px;
  color: rgb(128, 128, 128);
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#res-menu {
  display: none;
}

/* Navbar Styles End */

/* Carosal & Card Styles Start */

.card-parent {
  width: 100%;
  z-index: 3;
}

.slide-img {
  width: 100%;
  height: 800px;
  /* margin-top:160px; */
}

.country-flag {
  height: 4rem;
  width: auto;
}

.card-sub-topic {
  font-size: 13px;
}

.country-name {
  font-size: 20px;
  font-weight: bold;
  color: blue;
}

.card-description {
  min-height: 48px;
  font-size: 12px;
}

.custom-btn {
  font-size: 11px !important;
  font-weight: bold !important;
  border-radius: 30px !important;
  padding: 10px 25px 10px 25px !important;
}

/* Carosal & Card Styles End */

/* About Us Container Styles Start */
.aboutus-container {
  width: 100%;
}

.first-colum {
  padding-left: 5rem !important;
}

.heading-title-style {
  word-wrap: break-word;
}

.title-name {
  color: blue;
}

.horizontal-line {
  border: 2px solid red;
  width: 15%;
  margin-top: 1.5rem;
}

.aboutus-content {
  text-align: justify;
}

.half-earth-img {
  width: 80%;
  height: auto;
  padding-top: 30%;
  padding-bottom: 10%;
  padding-left: 5%;
}

/* About Us Container Styles End */

/* Why We Different Start */
#whyDifferent {
  padding: 35px 0 0 0;
  background: #f8f8f8;
}

.pt-35 {
  padding-top: 35px;
}

.header-text {
  margin-bottom: 35px;
  padding-bottom: 26px;
  font-size: 39px;
  font-weight: 900;
  color: #06238c;
  line-height: 110%;
  position: relative;
  text-align: center;
}

.clear-styles {
  font-weight: 300;
  color: #000;
}

.header-text::after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0;
  width: 45px;
  height: 2px;
  margin: 0 auto;
  content: "";
  background: #00ffff;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.slideInLeft {
  animation-name: slideInLeft;
}

.slideInRight {
  animation-name: slideInRight;
}

.card {
  position: relative;
  height: 100%;
  border: none;
  box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 6%);
  background: #fff;
  overflow: hidden;
}

img {
  vertical-align: center;
  border-style: none;
}

.card-icon {
  max-width: 70px;
}

p {
  font-size: 16px;
  color: #000;
  line-height: 24px;
  text-align: justify;
  font-weight: 300;
}

.space {
  display: flex;
  width: 100%;
  height: 50px;
}

.reason {
  position: relative;
  margin-bottom: 28px;
  display: flex;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.left .reason .inner {
  position: relative;
  width: calc(100% - 42px);
  padding: 25px 25px 25px 70px;
  background: #fff;
  z-index: 1;
  box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 6%);
}

#whyDifferent .left .reason:first-child:after {
  content: "";
  background: url(../img/reason1.svg) no-repeat left center;
  background-size: 82px;
}

#whyDifferent .left .reason:nth-child(2):after {
  content: "";
  background: url(../img/reason2.svg) no-repeat left center;
  background-size: 82px;
}

#whyDifferent .left .reason:last-child:after {
  content: "";
  background: url(../img/reason3.svg) no-repeat left center;
  background-size: 82px;
}

#whyDifferent .left .reason:after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 85px;
  height: 85px;
  transform: translateY(-50%);
  background-size: 84px;
  z-index: 10;
}

#whyDifferent .left .reason .inner .subtitle h3 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 700;
  color: #06238c;
}

#whyDifferent .left .reason .inner .subtitle h3::after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 15px;
  height: 2px;
  content: "";
  background: #00ffff;
}

#whyDifferent .card {
  padding: 1rem;
}

.content p {
  font-size: 16px;
  color: #000;
}

/* Why We Different End */

/* Free Assesment Start */

#freeAssessment {
  background: #fafafa;
  height: calc(100% - 70px);
}

.fadeIn {
  animation-name: fadeIn;
}

.assessment-container {
  position: relative;
  z-index: 2;
}

#freeAssessment .inner-wrapper {
  padding: 72px 0;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 6%);
}

#freeAssessment .inner-wrapper .title h3 {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 900;
  color: #06238c;
  text-align: center;
}

#freeAssessment .inner-wrapper .title h3:after {
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 0px;
  width: 15px;
  margin: 0 auto;
  height: 2px;
  content: "";
  background: #00ffff;
}

#freeAssessment .inner-wrapper .title h3 span {
  font-weight: 300;
  color: #000;
}

#freeAssessment .inner-wrapper .title p {
  font-size: 16px;
  color: #000;
  text-align: center;
}

.slight-bold {
  font-weight: 400;
}

#freeAssessment .inner-wrapper form {
  padding: 70px 70px 0 70px;
}

#freeAssessment .inner-wrapper form .form-control {
  min-height: 110px;
  padding: 0px;
  background-color: none;
  border: none;
  border-radius: 0px;
}

#freeAssessment .inner-wrapper form .form-control label {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

#freeAssessment .inner-wrapper form .form-control input {
  width: 100%;
  padding-bottom: 15px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #000;
  font-size: 14px;
  color: #000;
  -webkit-appearance: none;
}

#freeAssessment .inner-wrapper form .form-control .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

#freeAssessment .inner-wrapper form .form-control select {
  width: 100%;
  padding-bottom: 15px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #000;
  -webkit-appearance: none;
  background: none;
  color: #000;
  background: url(../img/dropdown.svg) no-repeat center right;
  background-size: 15px;
}

#freeAssessment .inner-wrapper form .form-control textarea {
  width: 100%;
  height: 100px;
  resize: none;
  background: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #000;
  font-size: 14px;
  font-weight: 300;
}

#freeAssessment .inner-wrapper form .submit {
  width: 100%;
  text-align: center;
}

#freeAssessment .inner-wrapper form .submit button {
  margin-top: 55px;
  padding: 12px 40px;
  color: #06238c;
  border: 1px solid #06238c;
  border-radius: 24px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

#freeAssessment button {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

#freeAssessment button:hover {
  color: #fff !important;
  background: #06238c;
}

#cta {
  position: relative;
  top: -70px;
  background: #06238c;
  padding: 110px 50px 50px;
  z-index: 1;
}

#cta .left h4 {
  font-size: 30px;
  color: white;
  font-weight: 300;
  margin-bottom: 7px;
}

#cta .left h4 span {
  font-weight: 900;
}

#cta .left p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

#cta .right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cta .right button {
  color: #fff;
  background: #06238c;
  border: 2px solid #fff;
  padding: 15px 50px;
  border-radius: 35px;
  font-size: 16px;
  font-weight: 600;
}

#cta .right button:hover {
  color: #06238c !important;
  background: #fff;
}

.gap-filler {
  position: relative;
  height: 70px;
  margin-top: -70px;
  background: #ececec;
}

#testimonials {
  background-color: #ececec;
  padding-bottom: 100px;
}

#testimonials .title h3 {
  font-size: 39px;
  font-weight: 900;
  color: #06238c;
  line-height: 110%;
  position: relative;
  padding-bottom: 26px;
  margin-bottom: 35px;
  text-align: center;
}

#testimonials .title h3 span {
  font-weight: 300;
  color: #000;
}

#testimonials .title h3:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0;
  width: 45px;
  height: 2px;
  margin: 0 auto;
  background: #00ffff;
}

#testimonials .flex-slider {
  padding-top: 80px;
  background: url(../img/quote.svg) no-repeat top center;
  background-size: 44px;
}

#testimonials .testimonials-item {
  height: 200px;
  padding: 20px 32px;
  background: #fff;
}

#testimonials .testimonials-item h5 {
  margin-bottom: 24px;
  font-size: 18px;
  color: #06238c;
  font-weight: 700;
  text-align: center;
}

#testimonials .testimonials-item p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 26px;
  color: #000;
}

#testimonialIndicators .carousel-indicators [data-bs-target] {
  position: relative;
  top: 60px;
  background: #06238c;
  height: 0px;
  width: 20px;
  border-radius: 50%;
}

/* Free Assesment End */

/* Footer Styles Start */
.footerContainer {
  padding: 80px 80px;
  background-color: #002995;
}

.footerContainer img {
  width: 200px;
  padding-bottom: 20px;
}

.footerContainer p {
  color: #fff;
  text-align: justify;
  font-weight: 300;
}

.servicesListContainer {
  color: #fff;
  padding-top: 20px;
}

.serviceList {
  position: relative;
}

.serviceList>h6 {
  padding-bottom: 10px;
}

span.divider {
  position: absolute;
  height: 3px;
  width: 25px;
  background-color: rgba(92, 209, 224, 0.836);
  left: 5;
}

.servicesListContainer ul {
  margin: 0;
  padding: 10px 0 0 0;
}

.servicesListContainer ul li {
  list-style-type: none;
  line-height: 40px;
}

.servicesListContainer ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  font-size: 15px;
}

.copyRightBar {
  background-color: #06238c;
  padding: 30px 0px;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
}

.socialIconContainer>i {
  margin: 0 10px;
  cursor: pointer;
}

.btnArrow {
  background-color: rgb(70, 70, 70);
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  position: fixed;
  right: 70px;
  bottom: 70px;
  transition: background 0.25s;
  z-index: 20;
}

.btnArrow:hover {
  background-color: rgb(94, 94, 94);
}

.btnArrow:active {
  background-color: rgb(185, 185, 185);
}

/* Footer Styles End */

@media only screen and (max-width: 960px) {

  /* Card & Carousal Styles Start */
  .slide-img {
    width: 100%;
    height: 200px;
  }

  .card-size {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 1rem;
  }

  .flag-column {
    width: 30% !important;
  }

  .country-name-title {
    width: 70% !important;
  }

  /* Card & Carousal Styles End */

  /* About Us Container Start */
  .second-container {
    margin-top: 1100px;
  }

  .aboutus-container {
    display: flex;
    justify-content: center;
    flex-flow: column-reverse;
  }

  .first-colum {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .half-earth-img {
    width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* About Us Container End */

  /* Footer Styles Start */
  .footerContainer {
    padding: 20px 10px;
  }

  .serviceList {
    margin-bottom: 50px;
  }

  .copyRightBar {
    height: auto;
    font-weight: 300;
  }

  .btnArrow {
    width: 30px;
    height: 30px;
    font-size: 20px;
    bottom: 20px;
    right: 20px;
  }

  /* Footer Styles End */
}

@media only screen and (min-width: 768px) {
  .card-parent {
    top: 520px;
  }

  #whyDifferent .right {
    background: url(../img/guy.png) no-repeat bottom center;
    background-size: 407px;
  }
}

@media only screen and (max-width: 768px) {

  .card-parent {
    top: 220px;
  }

  /* InfoBar Styles Start */
  .infoBarContainer {
    display: none;
  }

  /* InfoBar Styles End */

  /* Navbar Styles Start*/

  .navbar-container {
    top: 0;
  }

  label #bar-icon {
    display: block;
  }

  .topbar {
    justify-content: space-between;
  }

  .topbar img {
    width: 75%;
  }

  .topbar ul {
    position: fixed;
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    background-color: rgb(252, 252, 252);
    top: 0;
    left: -100%;
    text-align: left;
    padding-left: 20px;
    transition: 0.5s;
    display: block;
  }

  .topbar ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px;
    border-bottom: 0.5px solid rgb(214, 214, 214)
  }

  .topbar ul li a {
    font-size: 16px;
    display: block;
  }

  /* For Responsive State */
  #res-menu:checked~ul {
    left: 0;
  }

  #res-menu:checked~label #bar-icon {
    display: none;
  }

  #res-menu:checked~label #close-icon {
    display: block;
  }

  /* Navbar Styles End */

  /* Info Section Styles Start */

  .infoSectionContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .info-section-1,
  .info-section-2 {
    display: flex;
    flex-direction: column;
  }

  .info-section-1>span,
  .info-section-2>span {
    font-size: 12px;
    padding: 10px 0px;
    color: #777676;
  }

  .info-section-1>span>i {
    font-size: 10px;
  }

  .info-section-2 span a {
    text-decoration: none;
    color: #777676;
  }

  .info-section-3,
  .info-section-4 {
    padding: 20px 0px;
    display: flex;
    align-items: center;
  }

  .info-section-3>.socialIconWrapper>i {
    color: #777676;
    font-size: 20px;
    padding: 0 5px;
  }

  .info-section-4>.btnCheckEligibility {
    width: 200px;
  }

  /* Info Section Styles End */

}